.add-trail-btn {
  z-index: 1000;
  background: #2b6cb0;
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.7em 0.8em;
  cursor: pointer;
  font-size: 0.5em;
  scale: 100%;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: background 0.2s, transform 0.1s;
}

.add-trail-btn:hover {
  background: #3182ce;
}

.add-trail-btn.active {
  opacity: 0.8;
  border-radius: 0;
  scale: 0.97;
  background: #38a169;
}

.add-btn-wrapper {
  position: relative;
  margin-left: 0.3rem;
  display: inline-block;
}


.fab-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.fab-menu.hidden {
  display: none;
}

.fab-item {
  align-items: center;
  background: #fff;
  border: 1px solid #2b6cb0;
  border-radius: 6px;
  padding: 7px 12px;
  font-size: 1.3rem;
  text-align: start;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}

.fab-item:hover {
  background: #eef6ff;
}