.map-legend {
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(249, 249, 249, 0.89);
  border-radius: 0.4em;
  gap: 0.3em;
  padding: 0.5em;
  font-size: 0.4em;
  color: #444;
}

.map-legend div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}

.legend-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}