.map-legend {
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(249, 249, 249, 0.89);
  border-radius: 0.4em;
  gap: 0.3em;
  padding: 0.5em;
  font-size: 0.4em;
  color: #444;
}

.legend-content div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}

.legend-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.legend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-bottom: 0.2em;
  font-weight: bold;
}

.legend-header .chevron {
  transition: transform 0.2s ease;
  font-size: 1.3em;
  line-height: 0;
  transform: rotate(0deg);
}

.map-legend.collapsed .chevron {
  transform: rotate(180deg);
}

.legend-content {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.map-legend.collapsed .legend-content {
  max-height: 0;
  padding: 0;
}