.leaflet-marker-icon {
  transition: transform 0.2s, filter 0.2s;
}

img.leaflet-marker-icon.marker-verified {
  filter: hue-rotate(0deg);
}

img.leaflet-marker-icon.marker-unverified {
  filter: hue-rotate(160deg);
}

img.leaflet-marker-icon.marker-bikepark {
  filter: hue-rotate(270deg);
}

img.leaflet-marker-icon.marker-dirtpark {
  filter: hue-rotate(90deg);
}