.auth-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.hidden {
  display: none;
}

.auth-modal {
  background: whitesmoke;
  color: black;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

.auth-modal h2 {
  margin-bottom: 1.5rem;
}

.auth-modal input {
  width: 100%;
  padding: .9rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: none;
  background: #222;
  color: white;
}

button.primary {
  width: 100%;
  padding: .9rem;
  border-radius: 999px;
  background: var(--accent);
  color: black;
  font-weight: 600;
}

.oauth.google {
  width: 100%;
  padding: .8rem;
  border-radius: 999px;
  background: #fff;
  color: #000;
}

.divider {
  text-align: center;
  margin: 1.2rem 0;
  color: var(--text-muted);
}

.switch {
  margin-top: 1rem;
  text-align: center;
  font-size: .9rem;
}
